  <div class="container" id="home-container">
    <div class="jumbotron text-center text-white">
      <h1 class="display-4">Alpha Blog</h1>
      <hr class="my-4">
      <p>Lorem Khaled Ipsum is a major key to success. Bless up. They never said winning was easy. Some people can’t handle success, I can. Stay focused. Stay focused. Celebrate success right, the only way, apple. You see that bamboo behind me though, you see that bamboo? Ain’t nothin’ like bamboo. Bless up. Celebrate success right, the only way, apple. Wraith talk. Special cloth alert. Surround yourself with angels, positive energy, beautiful people, beautiful souls, clean heart, angel.</p>
      <p>Hammock talk come soon. Don’t ever play yourself. Let’s see what Chef Dee got that they don’t want us to eat. Find peace, life is like a water fall, you’ve gotta flow. Every chance I get, I water the plants, Lion! The key to success is to keep your head above the water, never give up. Stay focused. Mogul talk. I’m up to something. Fan luv. Surround yourself with angels, positive energy, beautiful people, beautiful souls, clean heart, angel. Mogul talk.</p>
      <a  class="btn btn-success btn-lg" #role="button">Sign Up</a>
    </div>
  </div>
